@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-image: url('../Images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  text-align: center;
}
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

h1 {
  color: #2a2a2a!important;
  font-size: 0.5em;
  font-weight: 900;
  margin: 0 0 2em;
}
@media (min-width: 450px) {
  h1 {
    font-size: 0.75em;
  }
}
@media (min-width: 760px) {
  h1 {
    font-size: 1.5em;
  }
}
@media (min-width: 900px) {
  h1 {
    font-size: 2.5em;
    margin: 0 0 1em;
  }
}

p {
  color: #fff;
  font-size: 12px;
}
@media (min-width: 600px) {
  p {
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 90%;
  }
}
@media (max-height: 500px) {
  p {
    left: 0;
    position: relative;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
p a {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid;
  color: #fff;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
}
p a:hover {
  background: white;
  color: #E1332D;
}

.confirm-text {
  font-size: 32px;
}

.confirm-container {
  margin-top: -5%;
  text-align: center;
}

.cover {
  position: absolute;
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.btn {
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  position: relative;
  text-decoration: none;
  padding: 1.1em;
  width: 100%;
  font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif!important;
  font-weight: 700!important;
  text-transform: uppercase!important;
}

.btn-form {
  display: inline-block;
  border: 0;
  background: 0;
  color: #DDCCAA!important;
  width: auto;
  padding: 0.3em;
  font-size: 14px;
  font-weight: 700!important;
  letter-spacing: 4px;
}

@media (min-width: 600px) {
  .btn {
    margin: 0 1em 2em;
  }
}
.btn:hover {
  text-decoration: none;
}

.btn-5 {
  color: #2a2a2a;
  margin-top: 1em;
  border: 2px solid;
  border-color: #DDCCAA;
  letter-spacing: 4px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-form:after {
  color: #DDCCAA!important;
  font-weight: 700!important;
}

.btn-5:after {
  content: "\2192";
  font-family: 'Material Icons';
  position: absolute;
  color: #2a2a2a;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 300ms;
  opacity: 0;
}
.btn-5:hover, .btn-5:focus {
  padding-right: 2.8rem;
}
.btn-5:hover:after, .btn-5:focus:after {
  opacity: 1;
  -webkit-transform: translate(0.4rem, -50%);
  transform: translate(0.4rem, -50%);
}

.button-container {
  margin-top: 1%;
  margin-bottom: 2%;
  width: 100%;
  text-align: center;
}

.logo-container {
  margin-top: 2%;
  margin-bottom: 1%;
  width: 100%;
  position: relative;
}

img .logo{
  transition: transform 0.2s;
}
img:hover{
  transform: scale(1.1);
}

.time-container {
  width: 100%;
  position: relative;
  padding: 0 10%;
}

.center{
  text-align: center;
}

.center-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* Logo */

.logo{
  height: 20%;
  width: 20%;
}
.red{
  color: #e02b20;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

#overlay2 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 20000;
}

#overlay1 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 20000;
}

#overlay-container {
  width: 800px;
  height: 500px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
}
 
.popup-close {
  display: block;
  cursor: pointer;
  border: 0;
  background: 0;
  position: absolute;
  margin: 1% 2% 0 0;
  transition: ease 1s;
  right: 0;
  font-size: 36px;
}

.popup-close:hover {
  transform: rotate(180deg);
}

.popup-logo-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#comment-form {
  margin-top: 2%;
  width: 100%;
  text-align: center;
}

textarea {
  border: 0;
  border: solid 1px #DDCCAA;
  padding: 2%;
  font-size: 18px;
  outline: none;
  resize: none;
  width: 60%;
  height: 180px;
}

::placeholder {
  color: #2a2a2a;
}