@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: #ffffff;
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  text-align: center;
}
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

h1 {
  color: #2a2a2a!important;
  font-size: 0.5em;
  font-weight: 900;
  margin: 0 0 2em;
}
@media (min-width: 450px) {
  h1 {
    font-size: 0.75em;
  }
}
@media (min-width: 760px) {
  h1 {
    font-size: 1.5em;
  }
}
@media (min-width: 900px) {
  h1 {
    font-size: 2.5em;
    margin: 0 0 1em;
  }
}

p {
  color: #fff;
  font-size: 12px;
}
@media (min-width: 600px) {
  p {
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 90%;
  }
}
@media (max-height: 500px) {
  p {
    left: 0;
    position: relative;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
p a {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid;
  color: #fff;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
}
p a:hover {
  background: white;
  color: #E1332D;
}

.btn {
  margin-top: 500000px;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  padding: 1.1em;
  width: 100%;
  font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif!important;
  font-weight: 700!important;
  text-transform: uppercase!important;
}

@media (min-width: 600px) {
  .btn {
    margin: 0 1em 2em;
  }
}
.btn:hover {
  text-decoration: none;
}

.btn-5 {
  color: #2a2a2a!important;
  margin-top: 500px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 2px solid;
  outline-color: #DDCCAA;
  outline-offset: 0px;
  letter-spacing: 4px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:after {
  content: "\2192";
  font-family: 'Material Icons';
  position: absolute;
  color: #2a2a2a;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 300ms;
  opacity: 0;
}
.btn-5:hover, .btn-5:focus {
  padding-right: 3rem;
}
.btn-5:hover:after, .btn-5:focus:after {
  opacity: 1;
  -webkit-transform: translate(0.4rem, -50%);
  transform: translate(0.4rem, -50%);
}

.button-container {
  margin-top: 5%;
  width: 100%;
  position: absolute;
}

.logo-container {
  transition: transform .2s;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  position: relative;
}

.info-container {
  width: 100%;
  position: relative;
}

.center{
  text-align: center;
}
/* Logo */

.logo{
  height: 10%;
  width: 10%;
}
.red{
  color: #e02b20;
}